aiosmtplib==3.0.1
asn1crypto==1.5.1
backports.tarfile==1.2.0
brotli==1.2.0
delegator.py==0.1.1
dnspython==2.6.1
droopescan==1.45.1
enum34==1.1.10
fastapi==0.123.8
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5
grpcio-status==1.71.2
importlib-metadata==8.0.0
ipaddress==1.0.23
jaraco.collections==5.1.0
lxml==6.0.2
matplotlib==3.10.7
networkx==3.5
objection==1.12.2
openai==2.8.1
openpyxl==3.1.5
pdfminer-six==20251107
pdfplumber==0.11.8
pip-chill==1.0.3
plotly==6.4.0
pypdf2==3.0.1
pytesseract==0.3.13
python-dotenv==1.1.1
pywhatkit==5.4
rich==13.7.1
schedule==1.2.2
scikit-learn==1.7.2
scp==0.15.0
streamlit==1.51.0
tomli==2.0.1
twilio==9.8.4
uvicorn==0.38.0
weasyprint==66.0
zopfli==0.4.0
